<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ApeGang | Daan</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/nav.css"/>
    </head>

    <body>
        <nav>
            <p>ApeGang</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Bram</a>
                    <ul>
                        <li><a href="#">Degiro</a>
                        <li><a href="#">IBKR</a>
                        <li><a href="#">ComputerShare</a>
                        <li><a href="#">Totaal</a>   
                    </ul>
                </li>
                <li><a href="#">Daan</a>
                    <ul>
                        <li><a href="#">Degiro</a>
                        <li><a href="#">Rabobank</a>
                        <li><a href="#">IBKR</a>
                        <li><a href="#">ComputerShare</a>
                        <li><a href="#">Totaal</a>   
                    </ul>
                </li>
                <li><a href="#">Ernst</a>
                    <ul>
                        <li><a href="#">Degiro</a>
                        <li><a href="#">Totaal</a>   
                    </ul>
                </li>
                <li><a href="#">Harm</a>
                    <ul>
                        <li><a href="#">Degiro</a>
                        <li><a href="#">Totaal</a>   
                    </ul>
                </li>
                <li><a href="#">Wen Ting</a>
                    <ul>
                        <li><a href="#">Degiro</a>
                        <li><a href="#">Totaal</a>   
                    </ul>
                </li>
                <li><a href="#">Totaal</a></li>
                <li><a href="#">Config</a></li>
            </ul>
        </nav>
    </body>
</html>