#header {
    position: absolute;
    width: 50%;
    height: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.linker {
    position: relative;
    font-size: 1.1em;
    padding: 15px;
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}

.linker:hover {
    background-color: #ffffff;
    color: #009879
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

#ticker {
    position: absolute;
    top: 20%;
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    background-color: #009879;
    padding: 15px;
    color: #ffffff;
    border-radius: 5px;
}

#table {
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 60%;
    height: 40%;
    top: 50%;
    font-size: 1.2em;
    border-collapse: collapse;
    font-family: sans-serif;
    margin: 25px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

td, th {
    padding: 12px 15px;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}